.git
**/node_modules
**/.next
**/.astro
**/dist
**/target
**/.env
**/.env.*
**/site.properties
**/messaging.properties
**/dataico.properties
**/*.pem
**/*.key
.env.production

backups
**/*.dump
**/*.dump.age
**/*.agekey
**/.pgpass
