{
  email {$TLS_EMAIL}
}
{$PUBLIC_DOMAIN} {
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
  }
  reverse_proxy edge:80 {
    # Sobrescribe cualquier valor enviado por el cliente.
    header_up X-Occlus-Client-IP {remote_host}
  }
}
